<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="internal-extensions" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-extensions-b31f7e96/nuget/v3/index.json" />
    <add key="internal-dotnet" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/8.0.100-rtm.23551.15-shipping/nuget/v3/index.json" />
    <add key="Local" value="C:\Development\GitHub\packages" />
  </packageSources>
</configuration>